@model DWEB_NET.Models.TblUtilizadores

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar Conta</h1>
<br/>
<h4>Tem a certeza que deseja apagar?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
    
    <form asp-action="Delete" style="display: flex">
        <input type="hidden" asp-for="UserID" />
        <input type="submit" value="Apagar" class="btn btn-danger" style="margin-top: 10px" />
        <a asp-action="Index" class="btn btn-link" style="margin-left: 10px; margin-top: 10px">Voltar</a>
    </form>
</div>


