@model IEnumerable<DWEB_NET.Models.TblTransacoesCategorias>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transacao.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.NomeCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Transacao.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-transacaoFK="@item.TransacaoFK" asp-route-categoriaFK="@item.CategoriaFK" class="btn btn-warning" style="margin-left: 10px;">Editar</a>
                    <a asp-action="Details" asp-route-transacaoFK="@item.TransacaoFK" asp-route-categoriaFK="@item.CategoriaFK" class="btn btn-info" style="margin-left: 10px;">Detalhes</a>
                    <a asp-action="Delete" asp-route-transacaoFK="@item.TransacaoFK" asp-route-categoriaFK="@item.CategoriaFK" class="btn btn-danger" style="margin-left: 10px;">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
