@model DWEB_NET.Models.TblTransacoes

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar Transação</h1>
<br/>
<h4>Tem a certeza que deseja apagar?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTransacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTransacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTransacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTransacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conta.ContaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TransacaoID" />
        <input type="submit" value="Apagar" class="btn btn-danger" style="margin-top:10px"/>
        <a asp-action="Index" class="btn btn-link" style="margin-left: 10px; margin-top: 10px">Voltar</a>
    </form>
</div>
