@model IEnumerable<DWEB_NET.Models.TblTransacoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTransacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTransacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContaID.ContaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaID.CategoriaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransacaoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransacaoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransacaoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
